@page
@model WebApplication2.Pages.IndexModel
@{
    ViewData["Title"] = "My Playlists";
}

<div class="app-layout">

    <!-- Sidebar -->
    <div class="sidebar">

        <h4>MY PLAYLISTS</h4>

        <a class="btn-create" asp-page="/Playlists/Index">+ Create</a>

        @foreach (var playlist in Model.Playlists) // <= ts
        {
            <div class="playlist-item">

                <a class="playlist-name"
                   asp-page="/Playlists/Details"
                   asp-route-id="@playlist.Id">
                    🎵 @playlist.Name
                </a>

                <div class="playlist-actions">
                    <a class="btn-small edit"
                       asp-page="/Playlists/Edit"
                       asp-route-id="@playlist.Id">✏</a>

                    <a class="btn-small delete"
                       asp-page="/Playlists/Delete"
                       asp-route-id="@playlist.Id">🗑</a>
                </div>

            </div>
        }

        <form method="post" asp-page="/Account/Logout">
            <button type="submit" class="btn-logout">Logout</button>
        </form>



    </div>

    <!-- Main -->
    <div class="main-content">
        <h3>Hello, @Model.Username 👋</h3>
        <p>Select a playlist to view songs.</p>
    </div>

</div>
